In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('salaries.csv')
df

       company                  job     degree  salary_more_then_100k
0       google      sales executive  bachelors                      0
1       google      sales executive    masters                      0
2       google     business manager  bachelors                      1
3       google     business manager    masters                      1
4       google  computer programmer  bachelors                      0
5       google  computer programmer    masters                      1
6   abc pharma      sales executive    masters                      0
7   abc pharma  computer programmer  bachelors                      0
8   abc pharma     business manager  bachelors                      0
9   abc pharma     business manager    masters                      1
10    facebook      sales executive  bachelors                      1
11    facebook      sales executive    masters                      1
12    facebook     business manager  bachelors                      1
13    facebook     business manager    masters                      1
14    facebook  computer programmer  bachelors                      1
15    facebook  computer programmer    masters                      1

In [15]:
from sklearn.preprocessing import LabelEncoder
x

    New_ompany  New_job  new_degree
0            2        2           0
1            2        2           1
2            2        0           0
3            2        0           1
4            2        1           0
5            2        1           1
6            0        2           1
7            0        1           0
8            0        0           0
9            0        0           1
10           1        2           0
11           1        2           1
12           1        0           0
13           1        0           1
14           1        1           0
15           1        1           1

In [4]:
le_company = LabelEncoder()
le_job = LabelEncoder()
le_degree= LabelEncoder()

In [5]:
df['New_ompany'] = le_company.fit_transform(df['company'])
df['New_job'] = le_job.fit_transform(df['job'])
df['new_degree'] = le_job.fit_transform(df['degree'])

In [11]:
x=df.drop(['company','job','degree','salary_more_then_100k'],axis=1)
y=df.salary_more_then_100k

In [12]:
from sklearn.tree import DecisionTreeClassifier

In [13]:
model =DecisionTreeClassifier()
model.fit(x,y)

DecisionTreeClassifier()

In [17]:
model.predict([[1,1,1]])

array([1], dtype=int64)

In [18]:
model.score(x,y)

1.0

In [23]:
type(x_test)

NameError: name 'x_test' is not defined